.popular-title {
  background-color: red;
  text-align: center;
  font-size: 48px;
  font-family: "Noto Sans JP";
  margin-bottom: 5rem;
}
.title-2 {
  text-align: left;
  font-size: 20px;
  margin: 20px 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.movie-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Horizontally center the items */
  align-items: center;
  gap: 30px; /* Vertically center the items */
  /* Ensure the container has height for vertical centering */
}

.movie-list li {
  justify-self: center;
  flex: 1 1 calc(20% - 10px);
  max-width: calc(20% - 10px);
  list-style: none;
}
